{% extends 'base.html' %}
{% block content %}
    {% for char in chars %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ char.name }}</a>
              <small class="text-muted">{{ char.date_created.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ char.dexterity }}</a></h2>
            <p class="article-content">{{ char.intelligence }}</p>
          </div>
        </article>
    {% endfor %}
{% endblock %}
